%h1.text-center.text-2xl.font-bold.my-4 購入履歴
= top_page
- if @purchases.any?
  .relative.overflow-x-auto.my-4
    %table.w-full.text-left
      %thead
        %tr.border-b.border-black
          %th.px-6.py-3{scope: "col"} 購入番号
          %th.px-6.py-3.text-lg{scope: "col"} 商品名
          %th.px-6.py-3.text-lg{scope: "col"} 合計金額
          %th.px-6.py-3.text-lg{scope: "col"} 購入日
      - @purchases.each do |purchase|
        %tbody
          %tr.border-b.border-black
            %td.px-6.py-4= purchase.id
            %td.px-6.py-4
              = link_to purchase.products.pluck(:name).join(' / '), purchase_path(purchase),
                class: 'text-blue-600 dark:text-blue-500 hover:underline'
            %td.px-6.py-4= number_to_currency(purchase.total_price)
            %td.px-6.py-4= purchase.created_at.strftime('%Y年%m月%d日')

- else
  %p.text-center 購入履歴はありません。
