.bg-gray-100.min-h-screen.py-4
  %h1.text-center.text-2xl.font-bold.mb-4 カート
  = top_page

  - if @cart.cart_items.any?
    .relative
      %table.w-full.text-left
        %thead
          %tr.border-b.border-black
            %th.px-6.py-3.text-lg{scope: "col"}
            %th.px-6.py-3.text-lg{scope: "col"} 商品名
            %th.px-6.py-3.text-lg{scope: "col"} 価格
            %th.px-6.py-3.text-lg{scope: "col"} 数量
            %th.px-6.py-3.text-lg{scope: "col"} 価格x数量
            %th.px-6.py-3.text-lg{scope: "col"}
        - @cart.cart_items.order_by_created_at.each do |cart_item|
          %tbody
            %tr.border-b.border-black
              %td.ml-4= render 'shared/product_image', product: cart_item.product, size: '120x80', variant: :small
              %td.px-6.py-4= cart_item.product.name
              %td.px-6.py-4 #{number_to_currency(cart_item.product.price)}
              %td.px-6.py-4= cart_item.amount
              %td.px-6.py-4 #{number_to_currency(cart_item.item_total)}
              %td.px-6.py-4= button_to '削除', cart_cart_item_path(cart_item), method: :delete, data: { turbo_confirm: '本当に削除しますか？' },
                class: 'bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded ml-2'
      .w-80.mx-auto.bg-white.rounded-lg.shadow-md.p-8.mt-16
        .flex.justify-between.mb-2
          %span.font-bold 小計:
          %span #{number_to_currency(@cart.subtotal)}(税抜)
        .flex.justify-between.mb-2
          %span.font-bold 送料:
          %span #{number_to_currency(@cart.calculate_shipping_fee)}(税抜)
        .flex.justify-between.mb-2
          %span.font-bold 代引き手数料:
          %span #{number_to_currency(@cart.cash_on_delivery_fee)}(税抜)
        .flex.justify-between.mb-2
          %span.font-bold 消費税:
          %span #{number_to_currency(@cart.calculate_tax)}
        .flex.justify-between.mb-2
          %span.font-bold 合計金額:
          %span #{number_to_currency(@cart.total_price)}
      %p.text-center.mt-4
        - purchase_confirm_button = "w-full py-2 px-4 border rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700"
        - if current_user
          = link_to '購入画面', new_purchase_path, class: purchase_confirm_button
        - else
          = link_to 'ログインして購入する', new_purchase_path, class: purchase_confirm_button
  - else
    %p.text-center カートには何も入っていません。
