%h1.text-center.text-2xl.font-bold.my-4 商品詳細(管理画面)
= link_to admin_top_page

.container.flex.justify-center.mt-4
  .flex.justify-center.mt-4
    .mr-4
      = render 'shared/product_image', product: @product, size: '660x438'
    .flex.flex-col.items-start.ms-4
      %p.text-2xl 商品名: #{@product.name}
      %p.text-gray-700.text-2xl.mt-2 価格: #{number_to_currency(@product.price)}
      %p.text-gray-600.mt-2.text-2xl 商品説明:
      %br #{@product.description}

.div{ 'class' => 'w-9/12' }
  .flex.justify-end.mt-4
    = link_to '編集', edit_admin_product_path,
      class: 'bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded'
