<!DOCTYPE html>
<html>
  <head>
    <title>SakuraMarket2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <% if notice %>
      <div class="bg-green-100 border-green-500 text-green-700 px-4 py-3 rounded"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="bg-red-100 border-red-500 text-red-700 px-4 py-3 rounded"><%= alert %></div>
    <% end %>
    <nav class="flex items-center justify-between flex-wrap bg-green-400 p-6">
      <div class="flex items-center text-white mr-6">
        <%= link_to 'さくらマーケット', root_path, class: 'text-xl' %>
      </div>
      <div class="flex items-center">
        <%= button_to 'ログアウト', destroy_user_session_path, method: :delete if current_user %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
